@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.registerCard {
  width: 430px;

  padding: 45px;

  @include glassCard;

  text-align: center;
}

.logoSection {
  margin-bottom: 35px;

  .logoIcon {
    width: 85px;
    height: 85px;

    margin: auto;
    margin-bottom: 20px;

    border-radius: 24px;

    background: linear-gradient(135deg, #C78DFF, #8F4FFF);

    @include flexCenter;

    font-size: 2rem;

    box-shadow: 0 10px 30px rgba(150,80,255,.35);
  }

  h1 {
    font-size: 2.3rem;
    font-weight: 800;

    margin-bottom: 10px;
  }

  p {
    color: $text-muted;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.bottomText {
  margin-top: 28px;

  color: $text-muted;

  display: flex;
  justify-content: center;
  gap: 8px;

  a {
    color: $primary-purple;

    text-decoration: none;

    font-weight: 600;
  }
}
