$bg-primary: #030B2E;
$card-bg: #101B47;
$secondary-bg: #172559;

$primary-purple: #9D5CFF;
$secondary-purple: #C17BFF;
$pink: #D38CFF;

$text-white: #FFFFFF;
$text-gray: #CFCFCF;
$text-muted: #8E94A8;

$green: #22C55E;
$yellow: #FBBF24;
$red: #EF4444;
$blue: #2F80ED;